<a href="https://colab.research.google.com/github/Ezerinz/Tugas/blob/main/Tugas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
daftar = ['edwin', 19, 'teknik']

for i in range(len(daftar)):
  print(daftar[i])

daftar [0] = 'ryan'
print(daftar)

daftar.append('majene')
print(daftar)

daftar.pop(2)
print(daftar)

edwin
19
teknik
['ryan', 19, 'teknik']
['ryan', 19, 'teknik', 'majene']
['ryan', 19, 'majene']

In [9]:
sett = {'edwin', 19, 'teknik'}
print(sett)

for i in sett:
  print(i)

sett.add('majene')
print(sett)

sett.discard(19)
print(sett)

{'edwin', 19, 'teknik'}
edwin
19
teknik
{'majene', 'edwin', 19, 'teknik'}
{'majene', 'edwin', 'teknik'}

In [14]:
dictio = {'nama' : 'edwin', 'umur' : 19, 'fakultas' : 'teknik'}

for i in dictio:
  print('Key: ', i, '=> value: ', dictio[i])

dictio ['nama'] = 'ryan'
print(dictio)

dictio ['asal'] = 'majene'
print(dictio)

dictio.pop('nama')
print(dictio)

Key:  nama => value:  edwin
Key:  umur => value:  19
Key:  fakultas => value:  teknik
{'nama': 'ryan', 'umur': 19, 'fakultas': 'teknik'}
{'nama': 'ryan', 'umur': 19, 'fakultas': 'teknik', 'asal': 'majene'}
{'umur': 19, 'fakultas': 'teknik', 'asal': 'majene'}

In [20]:
tapel = ('edwin', 19, 'teknik')

for i in range(len(tapel)):
  print(tapel[i])

tapel = list(tapel)
tapel.pop(0)
print(tapel)

tapel [1] = 20
print(tapel)

tapel.append ('majene')
print(tapel)

edwin
19
teknik
[19, 'teknik']
[19, 20]
[19, 20, 'majene']